@font-face {
  font-family: FuturaPT-Bold;
  src: url(../fonts/FuturaPT-Bold.woff) format(woff);
}

@font-face {
  font-family: FuturaPT-BoldObl;
  src: url(../fonts/FuturaPT-BoldObl.woff) format(woff);
}

@font-face {
  font-family: FuturaPT-Demi;
  src: url(../fonts/FuturaPT-Demi.woff) format(woff);
}

@font-face {
  font-family: FuturaPT-DemiObl;
  src: url(../fonts/FuturaPT-DemiObl.woff) format(woff);
}

@font-face {
  font-family: FuturaPT-LightObl;
  src: url(../fonts/FuturaPT-LightObl.woff) format(woff);
}

@font-face {
  font-family: FuturaPT-Light;
  src: url(../fonts/FuturaPT-Light.woff) format(woff);
}

@font-face {
  font-family: FuturaPT-Medium;
  src: url(../fonts/FuturaPT-Medium.woff) format(woff);
}

@font-face {
  font-family: FuturaPT-MediumObl;
  src: url(../fonts/FuturaPT-MediumObl.woff) format(woff);
}
